*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto Serif', serif;
    font-size:16px;
}

body{
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    min-height: 100vh;
    color:black;

}

header{
    display: flex;
    justify-content: center;
    margin-top:10%;
    margin-bottom: 3%;
    
}

header h1{
    font-size:2rem;
    color: lightblue;
}

form{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

form input{
    border:none;
    padding:1%;
    cursor:pointer;
}

form button{
    border:none;
    padding:0.9%;
    color:lightblue;
    background-color: white;
    transition:0.3s ease-in-out;
    cursor:pointer;
}

form button i{
    font-size:larger;
}

form button:hover{
    color:white;
    background-color: lightblue;
    transform: scale(1.1,ease-in-out);
}




